{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
{{ parent() }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row block-header">
    {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'email.system_email.edit.title'|trans
        }
    ] } %}

    <h2 class="col-xs-12">
        <a href="{{ path('app_email_setting') }}" class="btn bg-grey waves-effect">{{'app.common.returnBtn'|trans}}</a>
        {{ 'email.system_email.edit.title'|trans }}
    </h2>
</div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_start(form) }}
                            {{ form_row(form.subject) }}
                            {{ form_row(form.bodyHtml) }}
                            {{ form_row(form.bodyText) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% include 'form/bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}