{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
{{ parent() }}
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
            {
                'href': path('dashboard'),
                'title': 'app.dashboard.callback'|trans,
                'label': 'app.dashboard.title'|trans
            },
            {
                'label': 'email.system_email.list.title'|trans
            }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'email.system_email.list.title'|trans }}
        </h2>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body table-responsive">
                    <table id="emailTableList" class="table table-striped dataTable">
                        <colgroup>
                            <col style="width:40%">
                            <col style="width:40%">
                            <col style="width:20%">
                        </colgroup>
                        <thead>
                        <tr>
                            <th>{{ 'email.system_email.list.label'|trans }}</th>
                            <th>{{ 'email.system_email.list.bundle_label'|trans }}</th>
                            <th class="text-center">{{ 'app.common.table.action'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for email in emailList %}
                            <tr>
                                <td>{{ email.getLabel() }}</td>
                                <td>{{ email.getBundleLabel() }}</td>
                                <td class="text-center">
                                    <a href="#" class="btn btn-primary material-icons">send</a>
                                    <a href="#" class="btn btn-warning material-icons">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pull-right">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}