{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('plugins/tinymce/tinymce.min.js') }}"></script>
<script src="{{ asset('bundles/emailsystem/js/edit.js') }}"></script>
{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}
<div class="row block-header">
    {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'email_system.edit.title'|trans
        }
    ] } %}

    <h2 class="col-xs-12">
        <a href="{{ path('app_email_setting') }}" class="btn bg-grey waves-effect">{{'app.common.returnBtn'|trans}}</a>
        {{ 'email_system.edit.title'|trans }}
    </h2>
</div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_start(form) }}
                            {{ form_row(form.subject, {'label': 'email_system.edit.form.subject'}) }}
                            <div clas="body">
                                {{ form_widget(form.bodyHtml, {'label': 'email_system.edit.form.body_html', 'attr': {'class':'tinymce'}}) }}
                            </div>

                            {{ form_row(form.bodyText, {'label': 'email_system.edit.form.body_text', 'attr': {'style':'height:300px'}}) }}
                            {{ form_end(form) }}
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% include 'form/bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}