<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            {#{{ form_start(form, {'action': path('members_manager') ~ '#setting' }) }}#}
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.welcome_email'|trans }}</h4>
                        {{ form_row(form.welcomeEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.welcomeEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_welcome_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.new_subscription_email'|trans }}</h4>
                        {{ form_row(form.newSubscriptionEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.newSubscriptionEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_new_subscription_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.new_fee_coming_soon_email'|trans }}</h4>
                        {{ form_row(form.newFeeComingSoonEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.newFeeComingSoonEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_new_fee_coming_soon_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.late_member_notification_email'|trans }}</h4>
                        {{ form_row(form.lateMemberNotificationEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(form.lateMemberNotificationEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_late_member_notification_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>