<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            {{ form_start(formEmailSetting, {'action': path('members_manager') ~ '#email-setting' }) }}
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.welcome_email'|trans }}</h4>
                        {{ form_row(formEmailSetting.welcomeEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(formEmailSetting.welcomeEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_welcome_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.new_subscription_email'|trans }}</h4>
                        {{ form_row(formEmailSetting.newSubscriptionEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(formEmailSetting.newSubscriptionEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_new_subscription_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.new_fee_coming_soon_email'|trans }}</h4>
                        {{ form_row(formEmailSetting.newFeeComingSoonEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(formEmailSetting.newFeeComingSoonEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {{ form_row(formEmailSetting.newFeeComingSoonEmailSendingDelay, {'label': 'member.member.email_setting.form.delay_between_sending'|trans, 'label_attr': {'class': 'col-md-7'}, 'row_attr': {'class': 'col-md-12 p-l-0 p-r-0'} , 'attr': {'formLine': true, 'blockClass': 'col-md-4', 'class': 'form-control text-right'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_new_fee_coming_soon_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h4>{{ 'member.member.email_setting.form.late_member_notification_email'|trans }}</h4>
                        {{ form_row(formEmailSetting.lateMemberNotificationEmailSubject, {'label': 'member.member.email_setting.form.subject'|trans, 'attr': {'class': 'form-control'}}) }}
                        {{ form_row(formEmailSetting.lateMemberNotificationEmailBody, {'label': 'member.member.email_setting.form.body'|trans, 'attr': {'class': 'form-control textEdit'}}) }}
                        {{ form_row(formEmailSetting.latePaymentMemberEmailSendingDelay, {'label': 'member.member.email_setting.form.delay_between_sending'|trans, 'label_attr': {'class': 'col-md-7'}, 'row_attr': {'class': 'col-md-12 p-l-0 p-r-0'} , 'attr': {'formLine': true, 'blockClass': 'col-md-4', 'class': 'form-control text-right'}}) }}
                        {% include ':form:submitBtnSave.html.twig' %}
                    </div>
                    <div class="col-md-5">
                        <h4>{{ 'member.member.email_setting.form.placeholder.keywords_for_late_member_notification_email'|trans }}</h4>
                        <ul class="">
                            <li><label>{{ 'member.member.email_setting.form.placeholder.gender'|trans }} :</label> {gender}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.last_name'|trans }} :</label> {lastName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.first_name'|trans }} :</label> {firstName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.association_name'|trans }} :</label> {associationName}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.subscription_label'|trans }} :</label> {subscriptionLabel}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.start_date'|trans }} :</label> {startDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.end_date'|trans }} :</label> {endDate}</li>
                            <li><label>{{ 'member.member.email_setting.form.placeholder.total_cost'|trans }} :</label> {totalCost}</li>
                        </ul>
                    </div>
                </div>
            {{ form_end(formEmailSetting) }}
        </div>
    </div>
</div>