{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset("bundles/accounting/js/account.js") }}"></script>
{% endblock %}


{% block content %} 
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'accounting.synthesis.title'|trans
        }
        ] } %}
        <div class="col-xs-12">
            <div class="col-xs-8">
                <h2>
                    {{ 'accounting.synthesis.title'|trans }}
                </h2>
            </div>
            {% if exerciseList|length > 0 %}
                <a href="{{ path('accounting_account_id') }}" class="btn bg-green waves-effect">{{ 'accounting.common.add'|trans }}</a>
                <select class="col-xs-4" id="exerciseSelect" name="account_exercise">
                    <option></option>
                    {% for exercise in exerciseList %}
                        <option value="{{ exercise.getId() }}" data-urlexercise="/exercise/{{ exercise.getDateStart()|date('Y-m-d') }}/{{ exercise.getDateEnd()|date('Y-m-d') }}">
                            {{ exercise.getDateStart()|date('d/m/Y') }} - {{ exercise.getDateEnd()|date('d/m/Y') }}
                        </option>
                    {% endfor %}
                </select>
            {% else %}
                <a href="{{ path('exercise_index') }}" class="btn btn-primary">
                    {{ 'accounting.exercise.create'|trans }}
                </a>
            {% endif %}
        </div>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#exercices" data-toggle="tab">{{ 'accounting.exercise.list.title'|trans }}</a></li>
                        <li role="presentation"><a href="#account" data-toggle="tab">{{ 'accounting.account.list.title'|trans }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" data-anchor="exercices" id="exercices">
                            <section>
                                <div class="row">
                                    <h3>{{ 'accounting.common.sum_of_balance'|trans }} : {{ sumOfBalance }}</h3>
                                </div>
                            </section>
                            {% for accounting in data %}
                                <section id="accounting_{{ accounting.getId() }}">
                                    <div class="row">
                                        <h3>
                                            <a href="{{ path('accounting_account_id', {'id':accounting.getId()}) }}">
                                                {{ accounting.getLabel() }} / {{ 'accounting.common.real_solde'|trans }} :
                                                {{ accounting.getCalculatedLastSolde().getFormattedAmount() }}
                                            </a>
                                        </h3>
                                    </div>
                                    <table class="table table-striped orderable dataTable">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center;width:80px;">{{ 'accounting.common.date_value'|trans }}</th>
                                            <th style="text-align: center;width:80px;">{{ 'accounting.common.date_accounting'|trans }}</th>
                                            <th style="text-align: center;">{{ 'accounting.common.reference'|trans }}</th>
                                            <th style="text-align: center;width:60px;">{{ 'accounting.common.outcome'|trans }}</th>
                                            <th style="text-align: center;width:60px;">{{ 'accounting.common.income'|trans }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for entry in accounting.getEntries()|slice(0, 3) %}
                                            <tr>
                                                <td>{{ entry.getValueDate()|date('d/m/Y') }}</td>
                                                <td>{{ entry.getAccountingDate()|date('d/m/Y') }}</td>
                                                <td>{{ entry.getReference() }}</td>
                                                <td class="number" style="text-align: right;">
                                                    {% if entry.getAmount() < 0 %}
                                                        {{ entry.getFormattedAmount() }}
                                                    {% endif %}
                                                </td>
                                                <td class="number" style="text-align: right;">
                                                    {% if entry.getAmount() >= 0 %}
                                                        {{ entry.getFormattedAmount() }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            {% endfor %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" data-anchor="account" id="account">
                            <div class="row">
                                <p style="float:right;margin-right:5px">
                                    <a href="{{ path('accounting_account_add') }}" class="btn bg-green waves-effect">{{ 'app.common.addBtn'|trans }}</a>
                                </p>
                            </div>
                            <table class="table table-striped orderable dataTable">
                                <thead>
                                <tr>
                                    <th>{{ 'accounting.account.list.code'|trans }}</th>
                                    <th>{{ 'accounting.account.list.label'|trans }}</th>
                                    <th>{{ 'app.common.table.action'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for account in accounts %}
                                <tr>
                                    <td>{{ account.getCode() }}</td>
                                    <td>{{ account.getLabel() }}</td>
                                    <td>
                                        <a href="{{ path('accounting_account_edit', {'accountId':account.getId()}) }}" class="btn btn-warning material-icons">edit</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
