{% extends 'layoutLogin.html.twig' %}

{% block content %} 
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'accounting.synthesis.title'|trans
        }
        ] } %}
        <div class="col-xs-12">
            <div class="col-xs-8">
                <h2>
                    {{ 'accounting.synthesis.title'|trans }}
                </h2>
            </div>
            <select class="col-xs-4" id="exerciseSelect" name="account_exercise">
                {% for exercise in exerciseList %}
                    <option value="{{ exercise.getId() }}" data-urlexercise="/exercise/{{ exercise.getDateStart()|date('Y-m-d') }}/{{ exercise.getDateEnd()|date('Y-m-d') }}">
                        {{ exercise.getDateStart()|date('d/m/Y') }} - {{ exercise.getDateEnd()|date('d/m/Y') }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body table-responsive">
                    <section>
                        <div class="row">
                            <h3>{{ 'accounting.common.sum_of_balance'|trans }} : {{ sumOfBalance }}</h3>
                        </div>
                    </section>
                    {% for accounting in data %}
                        <section id="accounting_{{ accounting.getId() }}">
                            <div class="row">
                                <h3>
                                    <a href="/accounting/account/{{ accounting.getId() }}">
                                        {{ accounting.getLabel() }} / {{ 'accounting.common.real_solde'|trans }} :
                                        {{ accounting.getCalculatedLastSolde().getFormattedAmount() }} 
                                    </a>
                                </h3>
                            </div>
                            <table class="table table-striped orderable dataTable">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;width:80px;">{{ 'accounting.common.date_value'|trans }}</th>
                                        <th style="text-align: center;width:80px;">{{ 'accounting.common.date_accounting'|trans }}</th>
                                        <th style="text-align: center;">{{ 'accounting.common.reference'|trans }}</th>
                                        <th style="text-align: center;width:60px;">{{ 'accounting.common.outcome'|trans }}</th>
                                        <th style="text-align: center;width:60px;">{{ 'accounting.common.income'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for entry in accounting.getEntries()|slice(0, 3) %}
                                        <tr>
                                            <td>{{ entry.getValueDate()|date('d/m/Y') }}</td>
                                            <td>{{ entry.getAccountingDate()|date('d/m/Y') }}</td>
                                            <td>{{ entry.getReference() }}</td>
                                            <td class="number" style="text-align: right;">
                                                {% if entry.getAmount() < 0 %}
                                                    {{ entry.getFormattedAmount() }}
                                                {% endif %}
                                            </td>
                                            <td class="number" style="text-align: right;">
                                                {% if entry.getAmount() >= 0 %}
                                                    {{ entry.getFormattedAmount() }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
