{% extends 'layoutLogin.html.twig' %}

{% block content %} 
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
        {
            'label': 'accounting.exercise.list.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'accounting.exercise.list.title'|trans }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body table-responsive">
                    <section>
                        <div class="row">
                            <h3 class="col-ms-9">{{ 'accounting.exercise.list.title'|trans }}</h3>
                            <p class="col-ms-3">
                                <a href="{{ path('exercices_exercise_add') }}" class="btn bg-green waves-effect">{{ 'accounting.common.add'|trans }}</a>
                            </p>
                        </div>
                    </section>
                    <table class="table table-striped orderable dataTable">
                        <thead>
                            <tr>
                                <th style="text-align: center;width:60px;"></th>
                                <th style="text-align: center;width:80px;">{{ 'accounting.common.date_start'|trans }}</th>
                                <th style="text-align: center;width:80px;">{{ 'accounting.common.date_end'|trans }}</th>
                                <th style="text-align: left;">{{ 'accounting.common.reference'|trans }}</th>
                                <th style="text-align: left;">{{ 'app.common.table.action '|trans }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for exercise in data %}
                                <tr>
                                    <td class="checkbox" style="text-align:center;">
                                        <input type="checkbox" name="" value="" />
                                    </td>
                                    <td>{{ exercise.getDateStart()|date('d/m/Y') }}</td>
                                    <td>{{ exercise.getDateEnd()|date('d/m/Y') }}</td>
                                    <td>{{ exercise.getReference() }}</td>
                                    <td><a href="{{ path('exercices_exercise_id', {'id':exercise.getId()}) }}" class="btn btn-warning"><i class="material-icons">edit</i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
