{% extends 'layoutLogin.html.twig' %}

{% block content %} 
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'app.dashboard.callback'|trans,
            'label': 'app.dashboard.title'|trans
        },
{
            'href': path('accounting_index'),
            'title': 'accounting.synthesis.callback'|trans,
            'label': 'accounting.synthesis.title'|trans
        },
        {
            'label': 'accounting.account.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'accounting.account.title'|trans }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body table-responsive">
                    <div class="row">
                        <div class="col-md-9">
                            <h3>{{ accounting.getLabel() }} / {{ 'accounting.common.real_solde'|trans }} : {{ accounting.getCalculatedLastSolde().getFormattedAmount() }}</h3>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ path('accounting_account_solde_add', {'accountId': accounting.getId() }) }}" class="btn btn-success">{{ 'accounting.account.add_balance_btn'|trans }}</a>
                        </div>
                    </div>
                    {% if accounting.getSoldes()|length > 0 %}
                        <table class="table table-striped orderable dataTable">
                            <thead>
                                <tr>
                                    <th style="text-align: center;width:80px;">{{ 'accounting.common.date_value'|trans }}</th>
                                    <th style="text-align: center;width:60px;">{{ 'accounting.common.outcome'|trans }}</th>
                                    <th style="text-align: center;width:60px;">{{ 'accounting.common.income'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for solde in accounting.getSoldes() %}
                                    <tr>
                                        <td>{{ solde.getDate()|date('d/m/Y') }}</td>
                                        <td class="number" style="text-align: right;">
                                            {% if solde.getAmount() < 0 %}
                                                {{ solde.getFormattedAmount() }}
                                            {% endif %}
                                        </td>
                                        <td class="number" style="text-align: right;">
                                            {% if solde.getAmount() >= 0 %}
                                                {{ solde.getFormattedAmount() }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {{ form_start(formSolde) }}
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(formSolde.financialYear, {
                                        'label': 'accounting.account.solde.edit.form.financial_year'|trans,

                                        'attr': {
                                            'placeholder': 'accounting.account.solde.edit.form.financial_year'|trans,
                                        }
                                    }) }}
                                </div>
                            </div>
                            -->
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(formSolde.amount, {
                                        'label': 'accounting.account.solde.edit.form.amount'|trans
                                    }) }}
                                </div>
                            </div>                    
                            <div class="row">
                                <div class="col-md-6">
                                    {{ form_row(formSolde.date, {
                                        'label': 'accounting.account.solde.edit.form.date'|trans,

                                        'attr': {
                                            'placeholder': 'accounting.account.solde.edit.form.date'|trans,
                                            'class': 'form-control input-inline datetimepicker'
                                        }
                                    }) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 text-center">
                                    {% include 'form/bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                                </div>
                            </div>
                        {{ form_end(formSolde) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
