{% extends 'layoutLogin.html.twig' %}
{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
<script src="{{ asset('bundles/user/group/js/edit.js') }}"></script>
{% endblock  %}
{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs } %}
        <h2 class="col-xs-12">
            <a href="{{ callBackUrl }}" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            {{ 'user.group.edit.title'|trans }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    {{ form_start(formUserGroup) }}
                    <div class="row">
                        <h3 class="col-md-12">{{ 'user.group.edit.generalTitle'|trans }}</h3>
                        <div class="col-md-6">
                            {{ form_row(formUserGroup.label, {
                                'label': 'user.group.edit.label'|trans,
                                'attr': {
                                    'placeholder': 'user.group.edit.label'|trans
                                }
                            }) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(formUserGroup.active, {
                                'label': 'user.group.edit.active'|trans,
                                'attr': {
                                    'placeholder': 'user.group.edit.active'|trans
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="col-md-12">{{ 'user.group.edit.credentialTitle'|trans }}</h3>
                        <div class="col-md-12">
                            <input type="checkbox" value="1" class="filled-in" id="check-all">
                            <label for="">{{ 'user.group.edit.checkAll'|trans }}</label>
                        </div>
                        <div class="col-md-12 groupedCheckboxList">
                            {{ form_widget(formUserGroup.credentials) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            {% include 'form/bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                        </div>
                    </div>

                    {{ form_end(formUserGroup) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
