<div class="form-group">
    <label class="col-sm-6 control-label required">{{ label|trans }} : </label>
    <div class="col-sm-4">
        <select id="user_bundle_user_group_form_type_credentials_{{ index }}_active" name="user_bundle_user_group_form_type[credentials][{{ index }}][active]" class="form-control">
            <option value="1" {% if active == true  %}selected{% endif %}>Oui</option>
            <option value="0" {% if active == false  %}selected{% endif %}>Non</option>
        </select>
    </div>
    <input type="hidden" value="{{ code }}" id="user_bundle_user_group_form_type_credentials_{{ index }}_code" name="user_bundle_user_group_form_type[credentials][{{ index }}][code]" />
</div>