<div class="row">
    <div class="col-xs-12">
        <a href="{{ path('member_edit') }}" id="addGroup" class="btn bg-green waves-effect">{{ 'app.member.group.add.title'|trans }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Libellé</th>
                        <th>Nb d'utilisateurs</th>
                        <th>{{ 'app.common.table.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in results %}
                    <tr>
                        <td scope="row">{{ group.id }}</td>
                        <td>{{ group.label }}</td>
                        <td>NF</td>
                        <td>
                            {#<a href="#" class="btn btn-primary material-icons">remove_red_eye</a>#}
                            <a href="#" data-label="{{ group.label }}" data-id="{{ group.id }}" class="btn btn-warning material-icons editGroup">edit</a>
                            <a href="#" data-id="{{ group.id }}" class="btn btn-danger material-icons delGroup">delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {#<tr>#}
                        {#<td scope="row">2</td>#}
                        {#<td>Membre</td>#}
                        {#<td>40</td>#}
                        {#<td>#}
                            {#<a href="#" class="btn btn-primary material-icons">remove_red_eye</a>#}
                            {#<a href="#" data-label="Membre" class="btn btn-warning material-icons editGroup">edit</a>#}
                            {#<a href="#" data-id="2" class="btn btn-danger material-icons delGroup">delete</a>#}
                        {#</td>#}
                    {#</tr>#}
                    {#<tr>#}
                        {#<td scope="row">3</td>#}
                        {#<td>Modérateur</td>#}
                        {#<td>0</td>#}
                        {#<td>#}
                            {#<a href="#" class="btn btn-primary material-icons">remove_red_eye</a>#}
                            {#<a href="#" data-label="Modérateur" class="btn btn-warning material-icons editGroup">edit</a>#}
                            {#<a href="#" data-id="3" class="btn btn-danger material-icons delGroup">delete</a>#}
                        {#</td>#}
                    {#</tr>#}
                    </tbody>
                </table>
            </form>
            <div class="pull-right">
                {{ knp_pagination_render(results) }}
            </div>
        </div>
    </div>
</div>