{% extends 'layoutLogin.html.twig' %}
{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs } %}
        <h2 class="col-xs-12">
            <a href="{{ path('subscription_manager') }}" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            {{ 'subscription.fee.import.title'|trans }}
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-md-4 col-md-offset-2">
                            {{ form_widget(form.file) }}
                        </div>
                        <div class="col-md-3">
                            <input type="submit" value="{{ 'subscription.fee.import.launchBtn'|trans }}" class="btn btn-success" />
                        </div>
                    </div>
                    {{ form_end(form) }}
                    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
                    {% if subscriptionFeeImports|length > 0 %}
                        <div class="row">
                            <div class="col-md-12" style="overflow-x: auto">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>{{ 'subscription.fee.import.table.numLine'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.lastName'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.firstName'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.email'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.subscriptionCode'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.amount'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.startDate'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.endDate'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.paymentCode'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.paymentDate'|trans }}</th>
                                        <th>{{ 'subscription.fee.import.table.comment'|trans }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for subscriptionFeeImport in subscriptionFeeImports %}
                                        <tr class="{% if subscriptionFeeImport.state==constant('MemberBundle\\Entity\\MemberImport::STATE_CREATED') %}bg-success{% elseif subscriptionFeeImport.state==constant('MemberBundle\\Entity\\MemberImport::STATE_UPDATED') %}bg-warning{% else %}bg-danger{% endif %}">
                                            <td>{{ subscriptionFeeImport.numLine }}</td>
                                            <td>{{ subscriptionFeeImport.lastName }}</td>
                                            <td>{{ subscriptionFeeImport.firstName }}</td>
                                            <td>{{ subscriptionFeeImport.email }}</td>
                                            <td>{{ subscriptionFeeImport.subscriptionCode }}</td>
                                            <td>{{ subscriptionFeeImport.amount }}</td>
                                            <td>{{ subscriptionFeeImport.startDate }}</td>
                                            <td>{{ subscriptionFeeImport.endDate }}</td>
                                            <td>{{ subscriptionFeeImport.paymentCode }}</td>
                                            <td>{{ subscriptionFeeImport.paymentDate }}</td>
                                            <td>{{ subscriptionFeeImport.comment }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}