<div class="row">
    <div class="col-xs-12 align-right">
        <a href="{{ path('subscription_fee_import') }}" class="btn bg-blue-grey waves-effect">{{ 'subscription.fee.import.btn'|trans }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            {{ form_start(filterForm) }}
                <table id="subscriptionFeeTable" class="table table-striped" id="tableFee">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th style="width:15%" data-order-sortname="subscription" data-order-sort="{{ order.subscription }}" class="sortable">{{ 'member.subscriptionFee.list.header.subscription'|trans }}</th>
                        <th style="width:30%" data-order-sortname="fullName" data-order-sort="{{ order.fullName }}" class="sortable">{{ 'member.subscriptionFee.list.header.member'|trans }}</th>
                        <th style="width:20%" data-order-sortname="period" data-order-sort="{{ order.period }}" class="sortable">{{ 'member.subscriptionFee.list.header.period'|trans }}</th>
                        <th style="width:10%">{{ 'member.subscriptionFee.list.header.cost'|trans }}</th>
                        <th style="width:10%">{{ 'member.subscriptionFee.list.header.paymentDate'|trans }}</th>
                        <th style="width:5%">{{ 'member.subscriptionFee.list.header.paid'|trans }}</th>
                        <th style="width:10%">{{ 'app.common.table.action'|trans }}</th>
                    </tr>
                    <tr class="filter">
                        <th></th>
                        <th class="form-group form-group-sm">
                            {{ form_widget(filterForm.subscription, {'attr': {'title': 'member.member.list.filter.all'|trans}}) }}
                        </th>
                        <th class="form-group form-group-sm">
                            {{ form_widget(filterForm.fullNameMember) }}
                        </th>
                        <th>
                            <div class="form-group form-group-sm">
                                {{ form_widget(filterForm.startDate) }}
                            </div>
                            <div class="form-group form-group-sm">
                                {{ form_widget(filterForm.endDate) }}
                            </div>
                        </th>
                        <th></th>
                        <th></th>
                        <th class="form-group form-group-sm">
                            {{ form_widget(filterForm.paid, {'attr': {'title': 'member.member.list.filter.all'|trans}}) }}
                        </th>
                        <th>
                            <input type="submit" id="subscriptionFeeFilterBtn" class="btn btn btn-success" value="{{ 'app.common.form.submit.filter'|trans }}">
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fee in fees %}
                        <tr data-row-fee="{{ fee.getId() }}">
                            <td class="text-center">{{ fee.getId() }}</td>
                            <td>{{ fee.getSubscription().getSubscription().getLabel() }}</td>
                            <td>{{ fee.getSubscription().getMember().getFullName() }}</td>
                            <td class="text-center">{{ fee.getStartDate()|date('d/m/Y') }} {{ 'app.common.to'|trans }} {{ fee.getEndDate()|date('d/m/Y') }}</td>
                            <td class="text-right">{{ fee.getCost()|number_format(2, ",", " ") }} €</td>
                            <td class="text-center">{% if fee.getPaymentDate() is not null %} {{ fee.getPaymentDate()|date('d/m/Y') }} {% endif %}</td>
                            <td class="text-center">
                                {% include ':common:boolean.html.twig' with {'status': fee.getPaid()} %}
                            </td>
                            <td>
                                {% if is_granted('MEMBER_SUBSCRIPTION_FEE_SAVE') %}
                                    <a href="#" data-subscription-label="{{ fee.getSubscription().getSubscription().getLabel() }}" data-id="{{ fee.getId() }}" class="editFee btn btn-warning material-icons">edit</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {{ form_end(filterForm) }}
            <div class="pull-right">
                {{ knp_pagination_render(fees) }}
                {#{% include 'main/pagination.html.twig' %}#}
            </div>
        </div>
        {% if is_granted('MEMBER_SUBSCRIPTION_FEE_SAVE') %}
            <div class="modal fade" id="editSubscriptionFeeModal" tabindex="-1" role="dialog" style="display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center" id="editSubscriptionFeeLabel">{{ 'member.subscriptionFee.edit.title'|trans }}</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="saveFeeBtn" class="btn btn-link waves-effect">{{ 'app.common.form.submit.save'|trans }}</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{ 'app.common.cancelBtn'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>