{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/jquery.orderableList.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/app.deleteConfirm.js') }}"></script>    
    <script src="{{ asset('bundles/user/user/js/manage.js') }}"></script>    
{% endblock  %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'app.dashboard.callback'|trans,
        'label': 'app.dashboard.title'|trans
        },
        {
        'label': 'user.user.list.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'user.user.list.title'|trans }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        {% if is_granted('USER_USER_VIEW') %}
                            <li role="presentation" class="active"><a href="#usersTab" data-toggle="tab">{{ 'user.manager.tabUsers'|trans }}</a></li>
                        {% endif %}
                        {% if is_granted('USER_GROUP_VIEW') %}
                            <li role="presentation"><a href="#groups" data-toggle="tab">{{ 'user.manager.tabUserGroups'|trans }}</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        {% if is_granted('USER_USER_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade in active" id="usersTab">
		                        <div data-anchor="users" data-page-parameter-name="pageTab1" id="users">
                                {{ render(controller('UserBundle:User:list', {'request': app.request, 'anchor': 'users'})) }}
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('USER_GROUP_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade in" id="groups">
                                {{ render(controller('UserBundle:UserGroup:list', {'request': app.request, 'anchor': 'groups'})) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}