{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript">
        $(function(){
//            var $dayDuration = $('.day-duration');
//            $dayDuration.inputmask('999 J', { placeholder: '___ J' });
//
//            $dayDuration.parents('form').on('submit', function(e){
//                e.preventDefault();
//
//                var val = $dayDuration.val();
//                var formatedVal = parseInt(val);
//
//                console.log(formatedVal);
//                $dayDuration.val(formatedVal);
//
//
//                return false;
//            });
//
//            $('input[type=submit]').on('click', function(e){
//                e.preventDefault();
//
//                var val = $dayDuration.val();
//                var formatedVal = parseInt(val);
//
//                console.log(formatedVal);
//
//                $dayDuration.removeClass('day-duration');
//
//                $dayDuration.val(formatedVal);
//
//                return false;
//
//
//            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'app.dashboard.callback'|trans,
        'label': 'app.dashboard.title'|trans
        },
        {
        'label': 'app.subscription.subscription.list.title'|trans,
        'href': path('subscription_manager'),
        'title': 'app.subscription.subscription.list.callback'|trans
        },
        {
        'label': 'app.subscription.periodicity.edit.title'|trans
        }
        ] } %}
        <h2 class="col-xs-12">
            <a href="{{ path('subscription_manager') }}" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            {{ 'app.subscription.periodicity.edit.title'|trans }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBloc.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    {{ form_start(formPeriodicity) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(formPeriodicity.label, {
                                    'label': 'app.subscription.periodicity.edit.label'|trans,
                                    'attr': {
                                        'placeholder': 'app.subscription.periodicity.edit.label'|trans
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formPeriodicity.duration, {
                                    'label': 'app.subscription.periodicity.edit.duration'|trans,
                                    'attr': {
                                        'inputGroup': true,
                                        'inputGroupIcon': 'date_range',
                                        'class':  'text-right',
                                        'title': 'app.subscription.periodicity.edit.duration'|trans,
                                        'placeholder': 'app.subscription.periodicity.edit.placeholder.duration'|trans
                                    }
                                }) }}
                                {# day-duration #}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formPeriodicity.active, {'label': 'app.subscription.periodicity.edit.status.label'|trans}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% include ':form:bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                            </div>
                        </div>
                    {{ form_end(formPeriodicity) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}