<div class="info-box bg-orange hover-expand-effect">
    <div class="icon">
        <a href="{{ path('member_edit') }}" title="{{ 'member.member.add'|trans }}">
            <i class="material-icons">person_add</i>
        </a>
    </div>
    <div class="content">
        <div class="text">{{ 'member.dashboard.totalMembers'|trans }}</div>
        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ memberActifCount }}</div>
    </div>
</div>

<div class="card">
    <div class="header">
        <h2>
            {{ 'member.dashboard.tableTitleTop10'|trans }}
        </h2>
    </div>
    <div class="body table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>{{ 'member.dashboard.table.fullName'|trans }}</th>
                <th>{{ 'member.dashboard.table.status'|trans }}</th>
                <th>{{ 'member.dashboard.table.cost'|trans }}</th>
                <th>{{ 'app.common.table.action'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for fee in latePaymentMemberList %}
                <tr>
                    <th scope="row">{{ fee[0].member.getId() }}</th>
                    <td>{{ fee[0].member.getFullName() }}</td>
                    <td>{{ fee[0].member.getLastStatus().getLabel() }}</td>
                    <td class="text-right">{{ fee['cost']}} &euro;</td>
                    <td>
                        {% if is_granted('MEMBER_MEMBER_VIEW') %}
                            <a href="{{ path('member_view', {'id': fee[0].member.getId() }) }}" class="btn btn-primary material-icons">remove_red_eye</a>
                        {% endif %}
                        {% if is_granted('MEMBER_MEMBER_EDIT') %}
                            <a href="{{ path('member_edit', {'id': fee[0].member.getId() }) }}" class="btn btn-warning material-icons">edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>