<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.username) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.email) }}     
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.group) }}
    </div>    
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.password.first) }}    
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.password.second) }}              
    </div>
</div>