{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/jquery.orderableList.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/app.deleteConfirm.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/app.savePrompt.js') }}"></script>
    <script src="{{ asset('bundles/member/status/js/manage.js') }}"></script>
    <script src="{{ asset('bundles/user/group/js/manage.js') }}"></script>
    <script src="{{ asset('bundles/member/member/js/manage.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'app.dashboard.callback'|trans,
        'label': 'app.dashboard.title'|trans
        },
        {
        'label': 'member.member.list.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'member.member.list.title'|trans }}
            <span class="pull-right">{{ 'member.manager.nbMembers'|transchoice(nbMember) }}</span>
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        {% if is_granted('MEMBER_MEMBER_VIEW') %}
                            <li role="presentation" class="active"><a href="#members" data-toggle="tab">{{ 'member.manager.tabMembers'|trans }}</a></li>
                        {% endif %}
                        {% if is_granted('MEMBER_STATUS_VIEW') %}
                            <li role="presentation"><a href="#status" data-toggle="tab">{{ 'member.manager.tabStatus'|trans }}</a></li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% if is_granted('MEMBER_MEMBER_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade in active" data-anchor="members" id="members">
                                {{ memberListTpl|raw }}
                                {#{{ render(controller('MemberBundle:Member:list', {'request': app.request, 'anchor': 'members'})) }}#}
                            </div>
                        {% endif %}
                        {% if is_granted('MEMBER_STATUS_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade" id="status">
                                <div id="memberStatusContainer" data-anchor="status" data-page-parameter-name="pageTab2">
                                    {{ statusListTpl|raw }}
                                    {#{{ render(controller('MemberBundle:MemberStatus:list', {'request': app.request, 'anchor': 'status'})) }}#}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}