{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/jquery.orderableList.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/app.deleteConfirm.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/app.savePrompt.js') }}"></script>
    <script src="{{ asset('bundles/member/status/js/manage.js') }}"></script>
    <script src="{{ asset('bundles/user/group/js/manage.js') }}"></script>
    <script src="{{ asset('bundles/member/member/js/manage.js') }}"></script>

    <script src="{{ asset('plugins/tinymce/tinymce.js') }}"></script>
    <script type="text/javascript">
    $(function () {
        //TinyMCE
        tinymce.init({
            selector: ".textEdit",
            theme: "modern",
            height: 300,
            width: 550
        });
        // tinymce.init({
        //     selector: "#new_subscription_email",
        //     theme: "modern",
        //     height: 300,
        //     width: 550
        // });
        // tinymce.init({
        //     selector: "#new_cotisation_coming_soon_email",
        //     theme: "modern",
        //     height: 300,
        //     width: 550
        // });
        // tinymce.init({
        //     selector: "#late_member_notification_email",
        //     theme: "modern",
        //     height: 300,
        //     width: 550
        // });
        tinymce.suffix = ".min";
        tinyMCE.baseURL = '/plugins/tinymce';
    });
    </script>
{% endblock %}

{% block style %}
    {{ parent() }}
    <link href="{{ asset('plugins/bootstrap-tagsinput/bootstrap-tagsinput.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'app.dashboard.callback'|trans,
        'label': 'app.dashboard.title'|trans
        },
        {
        'label': 'member.member.list.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'member.member.list.title'|trans }}
            <span class="pull-right">{{ 'member.manager.nbMembers'|transchoice(nbMember) }}</span>
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        {% if is_granted('MEMBER_MEMBER_VIEW') %}
                            <li role="presentation" class="active"><a href="#members" data-toggle="tab">{{ 'member.manager.tabMembers'|trans }}</a></li>
                        {% endif %}
                        {% if is_granted('MEMBER_STATUS_VIEW') %}
                            <li role="presentation"><a href="#status" data-toggle="tab">{{ 'member.manager.tabStatus'|trans }}</a></li>
                        {% endif %}
                        {% if is_granted('MEMBER_SETTING_EDIT') %}
                            <li role="presentation"><a href="#setting" data-toggle="tab">{{ 'member.member.setting.tab'|trans }}</a></li>
                            <li role="presentation"><a href="#email-setting" data-toggle="tab">{{ 'member.member.email_setting.tab'|trans }}</a></li>
                        {% endif %}
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% if is_granted('MEMBER_MEMBER_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade in active" data-anchor="members" id="members">
                                {{ memberListTpl|raw }}
                                {#{{ render(controller('MemberBundle:Member:list', {'request': app.request, 'anchor': 'members'})) }}#}
                            </div>
                        {% endif %}
                        {% if is_granted('MEMBER_STATUS_VIEW') %}
                            <div role="tabpanel" class="tab-pane fade" id="status">
                                <div id="memberStatusContainer" data-anchor="status" data-page-parameter-name="pageTab2">
                                    {{ statusListTpl|raw }}
                                    {#{{ render(controller('MemberBundle:MemberStatus:list', {'request': app.request, 'anchor': 'status'})) }}#}
                                </div>
                            </div>
                        {% endif %}
                        {% if is_granted('MEMBER_SETTING_EDIT') %}
                            <div role="tabpanel" class="tab-pane fade" id="setting">
                                <div id="memberSettingContainer" data-anchor="status" data-page-parameter-name="pageTab3">
                                    {{ settingTpl|raw }}
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="email-setting">
                                <div id="memberEmailSettingContainer" data-anchor="status" data-page-parameter-name="pageTab4">
                                    {{ render(controller('MemberBundle:MemberSetting:emailSetting')) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}