<div class="row">
    <div class="col-md-2 text-center">
        <img src="{{ asset('images/avatars/' ~ member.avatar) }}" class="img-circle">
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                {{ member.lastName }} {{ member.firstName }}
            </div>
            <div class="col-md-6">
                <label>E-mail :</label> {{ member.connection.email }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Date d'inscription :</label> {{ member.infosMember.lastSubscriptionDate|date('d/m/Y') }}
            </div>
            <div class="col-md-6">
                <label>tél :</label>{{ member.contactInformation.phone }}
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <a href="{{ path('member_edit', {'id': 1}) }}" class="btn bg-grey waves-effect">Modifier</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Cordonnées <small></small>
                </h2>
                {#<ul class="header-dropdown m-r--5">#}
                    {#<li>#}
                        {#<a href="javascript:void(0);">#}
                            {#<i class="material-icons">mic</i>#}
                        {#</a>#}
                    {#</li>#}
                    {#<li class="dropdown">#}
                        {#<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">#}
                            {#<i class="material-icons">more_vert</i>#}
                        {#</a>#}
                        {#<ul class="dropdown-menu pull-right">#}
                            {#<li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>#}
                            {#<li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>#}
                            {#<li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>#}
                        {#</ul>#}
                    {#</li>#}
                {#</ul>#}
            </div>
            <div class="body">
                <h3>Civilité</h3>
                <p><label>genre :</label> Homme</p>
                <p><label>Nom et prénom :</label> Joe Doe</p>
                <p><label>Date de naissance :</label> XX/XX/XXXX</p>
                <h3>Adresse</h3>
                <p><label>Pays :</label> France</p>
                <p><label>Ville :</label> 84000 Avignon</p>
                <p><label>Adresse :</label> 17 Boulevard Jean Mermoz</p>
                <h3>Contact</h3>
                <p><label>E-mail :</label> xxxx@xxx.fr</p>
                <p><label>Tel :</label> 01 23 45 67 89</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Infos connexion <small></small>
                </h2>
            </div>
            <div class="body">
                <p><label>E-mail :</label> xxxx@xxx.fr</p>
                <p><label>Pseudo :</label> joedoe</p>
                <p><label>Statut :</label> membre</p>
                <p><label>Groupe :</label> utilisateur</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header bg-blue-grey">
                <h2>
                    Infos adhérents <small></small>
                </h2>
            </div>
            <div class="body">
                <p><label>Statut :</label> membre</p>
                <p><label>Profession :</label> Développeur web</p>
                <p>
                    <label>Spécialité(s) :</label> <br />
                    <ul>
                    <li>Elecronique</li>
                    <li>développeur web</li>
                    <li>Menuiserie</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
</div>
