{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/member/status/js/manage.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('#addGroup').on('click', function(e){
                e.preventDefault();
                swal({
                    title: "Ajouter un groupe",
                    text: "",
                    type: 'input',
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });

            $('.editGroup').on('click', function(e){
                e.preventDefault();

                var label = $(this).data('label');

                swal({
                    title: "Modifier le groupe",
                    text: "",
                    type: 'input',
                    inputValue: label,
                    showCancelButton: true,
                    closeOnConfirm: false,
                    animation: "slide-from-top",
                    confirmButtonText: "Valider",
                    cancelButtonText: "Annuler",
                }, function(inputValue){
                    console.log("You wrote", inputValue);
                });
            });


            $('.delMember').on('click', function(e){
                e.preventDefault();

                var id = $(this).data('id');

                swal({
                    title: "Êtes-vous sûr ?",
                    text: "La suppression du membre est définitf !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Oui, je veux le supprimer !",
                    cancelButtonText: "Non, n'annule ma demande !",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(isConfirm){
                    if (isConfirm) {
                        swal("Supprimé !", "Le membre a été supprimé.", "success");
                    }
                });
            });



            $('.delGroup').on('click', function(e){
                e.preventDefault();

                var id = $(this).data('id');

                swal({
                        title: "Êtes-vous sûr ?",
                        text: "La suppression du groupe est définitf !",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Oui, je veux le supprimer !",
                        cancelButtonText: "Non, n'annule ma demande !",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    },
                    function(isConfirm){
                        if (isConfirm) {
                            swal("Supprimé !", "Le groupe a été supprimé.", "success");
                        }
                    });
            });
        });



    </script>

{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'app.dashboard.callback'|trans,
        'label': 'app.dashboard.title'|trans
        },
        {
        'label': 'app.member.member.list.title'|trans
        }
        ] } %}

        <h2 class="col-xs-12">
            {{ 'app.member.member.list.title'|trans }}
            <span class="pull-right">40 membres</span>
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#members" data-toggle="tab">Adhérents</a></li>
                        <li role="presentation"><a href="#status" data-toggle="tab">Statuts</a></li>
                        <li role="presentation"><a href="#groups" data-toggle="tab">Groupes</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="members">
                            {% include 'member/manager/membersList.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="status">
                            <div id="memberStatusContainer" data-anchor="status" data-page-parameter-name="pageTab2">
                                {{ render(controller('AppBundle:MemberStatus:list', {'request': app.request, 'anchor': 'status'})) }}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="groups">
                            <div id="memberStatusContainer" data-anchor="status" data-page-parameter-name="pageTab2">
                                {{ render(controller('AppBundle:UserGroup:list', {'request': app.request, 'anchor': 'groups'})) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}