{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>
    <script src="{{ asset('plugins/fileinput/fileinput.min.js') }}"></script>
    <script src="{{ asset('plugins/fileinput/locales/fr.js') }}"></script>
    <script src="{{ asset('bundles/member/member/js/edit.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
            'href': path('dashboard'),
            'title': 'retour tableau de bord',
            'label': 'Tableau de bord'
        },
        {
            'label': 'Gestion adhérents',
            'href': path('members_manager'),
            'title': 'retour gestion adhérents'
        },
        {
        'label': "Edition d'un membre"
        }
        ] } %}
        <h2 class="col-xs-12">
            <a href="{{ path('members_manager') }}" class="btn bg-grey waves-effect">Retour</a>&nbsp;
            Edition d'un membre
        </h2>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#identity" data-toggle="tab">Identité <i class="material-icons text-danger">warning</i></a></li>
                        <li role="presentation"><a href="#coordonates" data-toggle="tab">Coordonnées</a></li>
                        <li role="presentation"><a href="#infos_connection" data-toggle="tab">Connexion</a></li>
                        <li role="presentation"><a href="#infos_membre" data-toggle="tab">Infos membre</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="identity">
                            {% include 'member/edit/memberIdentityEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="coordonates">
                            {% include 'member/edit/memberCoordonatesEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="infos_connection">
                            {% include 'member/edit/memberInfosConnectionEdit.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="infos_membre">
                            {% include 'member/edit/memberInfosMemberEdit.html.twig' %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <input class="btn btn-success" type="submit" value="Enregistrer et revenir sur la liste">
                            <input class="btn btn-success"  type="submit" value="Enregistrer et rester">
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </div>
{% endblock %}