{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>
    <script type="text/javascript">
        $(function(){
            $('.money-euro').inputmask('999,99 €', { placeholder: '___,__ €' });
            $('.day-duration').inputmask('999 J', { placeholder: '___ J' });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
        {
        'href': path('dashboard'),
        'title': 'retour tableau de bord',
        'label': 'Tableau de bord'
        },
        {
        'label': 'Gestion abonnements',
        'href': path('subscription_manager'),
        'title': 'retour gestion abonnements'
        },
        {
        'label': "Edition d'un abonnement"
        }
        ] } %}
        <h2 class="col-xs-12">
            <a href="{{ path('subscription_manager') }}#subscriptions" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            Edition d'un abonnement
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    {{ form_start(formSubscription) }}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(formSubscription.code, {
                                    'label': 'subscription.subscription.edit.code'|trans,
                                    'attr': {
                                        'placeholder': 'subscription.subscription.edit.code'|trans,
                                        'title': 'subscription.subscription.edit.code'|trans
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formSubscription.label, {
                                    'label': 'subscription.subscription.edit.label'|trans,
                                    'attr': {
                                        'placeholder': 'subscription.subscription.edit.label'|trans,
                                        'title': 'subscription.subscription.edit.label'|trans
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formSubscription.periodicities, {
                                    'label': 'subscription.subscription.edit.periodicities'|trans,
                                    'attr': {
                                        'title': 'app.common.form.choice'|trans,
                                        'placeholder': 'app.common.form.choice'|trans
                                    }
                                })
                                }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(formSubscription.cost, {
                                    'label': 'subscription.subscription.edit.cost'|trans,
                                    'attr': {
                                        'inputGroup': true,
                                        'inputGroupIcon': 'euro_symbol',
                                        'class':  'text-right',
                                        'title': 'subscription.subscription.edit.cost'|trans,
                                        'placeholder': 'subscription.subscription.edit.cost'|trans
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formSubscription.duration, {
                                    'label': 'subscription.subscription.edit.duration'|trans,
                                    'attr': {
                                        'inputGroup': true,
                                        'inputGroupIcon': 'date_range',
                                        'class':  'text-right',
                                        'title': 'subscription.subscription.edit.duration'|trans,
                                        'placeholder': 'subscription.subscription.edit.duration'|trans
                                    }
                                }) }}
                            </div>
                            <div class="col-md-4">
                                {{ form_row(formSubscription.active, {'label': 'subscription.subscription.edit.status'|trans}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                {% include 'form/bothSubmitBtnSaveLeaveAndStay.html.twig' with {} only %}
                            </div>
                        </div>
                    {{ form_end(formSubscription) }}
                    {#</form>#}
                </div>
            </div>
        </div>
    </div>
{% endblock %}