<div class="info-box bg-green hover-expand-effect">
    <div class="icon">
        <i class="material-icons">euro_symbol</i>
    </div>
    <div class="content">
        <div class="text">{{ 'subscription.dashboard.totalFeePaidForDay'|trans }}</div>
        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ totalFeePaidForDay|number_format(2, ",", " ") }} €</div>
    </div>
</div>
<div class="info-box bg-red hover-expand-effect">
    <div class="icon">
        <i class="material-icons">euro_symbol</i>
    </div>
    <div class="content">
        <div class="text">{{ 'subscription.dashboard.totalFeeNotPaidForDay'|trans }}</div>
        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ totalFeeNotPaidForDay|number_format(2, ",", " ") }} €</div>
    </div>
</div>
<div class="info-box bg-orange hover-expand-effect">
    <div class="icon">
        <i class="material-icons">euro_symbol</i>
    </div>
    <div class="content">
        <div class="text">{{ 'subscription.dashboard.totalFeeNotYetPaid'|trans }}</div>
        <div class="number count-to" data-from="0" data-to="1225" data-speed="1000" data-fresh-interval="20">{{ totalFeeNotYetPaid|number_format(2, ",", " ") }} €</div>
    </div>
</div>