<div class="row">
    <div class="col-xs-12">
        {% if is_granted('MEMBER_MEMBER_CREATE') %}
        <a href="{{ path('member_edit') }}" class="btn bg-green waves-effect">{{ 'member.member.add'|trans }}</a>
        {% endif %}
    </div>
</div>
{#
<div class="row">
    <div class="col-md-6">
        <form action="#">
            <div class="input-group">
                <div class="form-line">
                    <input type="text" class="form-control date" placeholder="Rechercher">
                </div>
                <span class="input-group-addon">
                <i class="material-icons">search</i>
            </span>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <a href="#" class="btn bg-grey waves-effect pull-right">
            <i class="material-icons">archive</i>
            Export C.S.V.
        </a>
    </div>
</div>
#}
<div class="row">
    <div class="col-xs-12">
            <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped dataTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            {#<th>{{ 'member.member.list.table.picture'|trans }}</th>#}
                            <th data-order-sortname="lastName" data-order-sort="{{ order.lastName }}" class="sortable">{{ 'member.member.list.table.lastName'|trans }}</th>
                            <th data-order-sortname="firstName" data-order-sort="{{ order.firstName }}" class="sortable">{{ 'member.member.list.table.firstName'|trans }}</th>
                            <th data-order-sortname="status" data-order-sort="{{ order.status }}" class="sortable">{{ 'member.member.list.table.status'|trans }}</th>
                            <th>{{ 'member.member.list.table.phone'|trans }}</th>
                            <th data-order-sortname="subscription" data-order-sort="{{ order.subscription }}" class="sortable">{{ 'member.member.list.table.subscription'|trans }}</th>
                            <th>{{ 'member.member.list.table.subscriptionDateEnd'|trans }}</th>
                            <th>{{ 'app.common.table.action'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for member in members %}
                        <tr class="{% if member.id in soonPaymentmemberList %}bg-amber{% endif %}{% if member.id in latePaymentmemberList %}bg-red{% endif %}">
                            <td scope="row">{{ member.id }}</td>
                            {#<td>#}
                                {#<img src="{{ asset('images/avatars/user.png') }}" class="img-circle">#}
                            {#</td>#}
                            <td>{{ member.lastName }}</td>
                            <td>{{ member.firstName }}</td>
                            <td>{% if member.getStatus()|length > 0 %}{{ member.getStatus()[0].status.label }}{% endif %}</td>
                            <td>
                                {% if member.phone != "" %}{{ 'member.member.edit.form.phone'|trans }} : <a href="tel:{{ member.phone }}">{{ member.phone }}</a>{% endif %}
                                {% if member.phone != "" and member.cellular != "" %}<br />{% endif %}
                                {% if member.cellular != "" %}{{ 'member.member.edit.form.cellular'|trans }} : <a href="tel:{{ member.phone }}">{{ member.phone }}</a>{% endif %}
                            </td>
                            <td>{% if member.subscriptions|length > 0 %}{{ member.subscriptions[0].subscription.label }} {% endif %}</td>
                            <td>{% if member.subscriptions|length > 0 %}{{ member.subscriptions[0].endDate|date('d/m/Y') }}{% endif %}</td>
                            <td>
                                {% if is_granted('MEMBER_MEMBER_VIEW') %}
                                <a href="{{ path('member_view', {'id': member.id}) }}" class="btn btn-primary material-icons">remove_red_eye</a>
                                {% endif %}
                                {% if is_granted('MEMBER_MEMBER_EDIT') %}
                                    <a href="{{ path('member_edit', {'id': member.id}) }}" class="btn btn-warning material-icons">edit</a>
                                {% endif %}
                                {% if is_granted('MEMBER_MEMBER_DELETE') %}
                                    <a href="#" data-id="{{ member.id }}" class="btn btn-danger material-icons delMember">delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="pull-right">
                {{ knp_pagination_render(members) }}
                {#{% include 'main/pagination.html.twig' %}#}
            </div>
        </div>
    </div>
</div>

