{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
    <script src="{{ asset('bundles/member/member/js/subscription.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs } %}
        <h2 class="col-xs-12">
            <a href="{{ path('members_manager') }}" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            {{ 'member.member.view.title'|trans({'{firstName}': member.firstName, '{lastName}' : member.lastName}) }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#identity" data-toggle="tab">{{ 'member.member.edit.tab.identity'|trans }}</a></li>
                        <li role="presentation"><a href="#subscription" data-toggle="tab">{{ 'subscription.manager.tabSubscriptions'|trans }}</a></li>
                        <li role="presentation"><a href="#contribution" data-toggle="tab">{{ 'member.contribution.tabContributionHistorical'|trans }}</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="identity">
                            {% include 'member/member/view/identity.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="subscription">
                            {% include 'member/member/view/subscriptions.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="contribution">
                            {% include 'member/member/view/contribution.html.twig' with {'fees': member.getFees()} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}