{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/jquery-inputmask/jquery.inputmask.bundle.js') }}"></script>
    <script src="{{ asset('plugins/momentjs/moment.js') }}"></script>
    <script src="{{ asset('bundles/app/common/js/jquery.reload.list.js') }}"></script>
    <script src="{{ asset('bundles/member/member/js/subscription.js') }}"></script>
    {% if is_granted('MEMBER_SUBSCRIPTION_FEE_SAVE') %}
        <script src="{{ asset('bundles/member/member/js/subscriptionFee.js') }}"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row block-header">
        {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs } %}
        <h2 class="col-xs-12">
            <a href="{{ path('members_manager') }}" class="btn bg-grey waves-effect">{{ 'app.common.returnBtn'|trans }}</a>&nbsp;
            {{ 'member.member.view.title'|trans({'{firstName}': member.firstName, '{lastName}' : member.lastName}) }}
        </h2>
    </div>
    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#identity" data-toggle="tab">{{ 'member.member.edit.tab.identity'|trans }}</a></li>
                        <li role="presentation"><a href="#subscription" data-toggle="tab">{{ 'subscription.manager.tabSubscriptions'|trans }}</a></li>
                        <li role="presentation"><a href="#subscriptionFee" data-toggle="tab">{{ 'member.subscriptionFee.tabContributionHistorical'|trans }}</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="identity">
                            {% include 'member/member/view/identity.html.twig' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="subscription">
                            {% include 'member/member/view/subscriptions.html.twig' with {'subscriptions': subscriptions, 'form': formSub} %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="subscriptionFee">
                            {% include 'member/member/view/subscriptionFee.html.twig' with {'fees': member.getFees()} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if is_granted('MEMBER_SUBSCRIPTION_FEE_SAVE') %}
    <div class="modal fade" id="editSubscriptionFeeModal" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="editSubscriptionFeeLabel">{{ 'member.subscriptionFee.edit.title'|trans }}</h4>
            </div>
            <div class="modal-body">
            </div>
                <div class="modal-footer">
                    <button type="submit" id="saveFeeBtn" class="btn btn-link waves-effect">{{ 'app.common.form.submit.save'|trans }}</button>
                    <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">{{ 'app.common.cancelBtn'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}