<div class="row">
    <div class="col-xs-12">
        {% if is_granted('USER_USER_CREATE') %}
            <a href="{{ path('user_edit') }}" class="btn bg-green waves-effect">{{ 'user.user.add.title'|trans }}</a>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped orderable dataTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th data-order-sortname="username" data-order-sort="{{ order.username }}" class="sortable">{{ 'user.user.list.table.userName'|trans }}</th>
                        <th data-order-sortname="email" data-order-sort="{{ order.email }}" class="sortable">{{ 'user.user.list.table.email'|trans }}</th>
                        <th data-order-sortname="group" data-order-sort="{{ order.group }}" class="sortable">{{ 'user.user.list.table.group'|trans }}</th>
                        <th>{{ 'app.common.table.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in results %}
						<tr>
                            <td scope="row">{{ user.id }}</td>
                            <td>{{ user.userName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.group.label }}</td>
                            <td>
                                {% if is_granted('USER_USER_EDIT') %}
                                    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-warning material-icons">edit</a>
                                {% endif %}
                                {% if is_granted('USER_USER_DELETE') %}                                
                                    <a href="#" data-id="{{ user.id }}" class="btn btn-danger material-icons {% if user.isDeletable()%}delUser{% endif %}" {% if user.isDeletable() != true %}disabled="disabled"{% endif %}>delete</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="pull-right">
                {% include 'main/pagination.html.twig' %}
            </div>
        </div>
    </div>
</div>
