{#
<nav>
    <ul class="pagination">
        <li class="disabled">
            <a href="javascript:void(0);">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li class="active"><a href="javascript:void(0);">1</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
        <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
        <li>
            <a href="javascript:void(0);" class="waves-effect">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>
</nav>#}
{% trans_default_domain("AppBundle") %}
{#
/**
 * @file
 * Twitter Bootstrap v3 Sliding pagination control implementation.
 *
 * View that can be used with the pagination module
 * from the Twitter Bootstrap CSS Toolkit
 * http://getbootstrap.com/components/#pagination
 *
 * @author Pablo Díez <pablodip@gmail.com>
 * @author Jan Sorgalla <jsorgalla@gmail.com>
 * @author Artem Ponomarenko <imenem@inbox.ru>
 * @author Artem Zabelin <artjomzabelin@gmail.com>
 */
#}

{% if pageCount > 1 %}
<nav>
    {% if previous is defined %}
        <a class="text-center col-xs-offset-4 col-sm-4 col-xs-4 hidden-lg hidden-md btn-lg btn-default" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'previous_resultats'|trans }}</a>
    {% else %}
        <span class="hidden-lg hidden-md ">{{ 'previous_resultats'|trans }}&nbsp;&raquo;</span>
    {% endif %}
    <ul class="pagination">

        {% if previous is defined %}
            <li>
                <a rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&laquo;&nbsp;{{ 'Previous'|trans }}</a>
            </li>
        {% else %}
            <li class="disabled">
                <span>&laquo;&nbsp;{{ 'Previous'|trans }}</span>
            </li>
        {% endif %}

        {% if startPage > 1 %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </li>
            {% if startPage == 3 %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </li>
            {% elseif startPage != 2 %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="active">
                    <span>{{ page }}</span>
                </li>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <li class="disabled">
                        <span>&hellip;</span>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </li>
                {% endif %}
            {% endif %}
            <li>
                <a href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </li>
        {% endif %}

        {% if next is defined %}
            <li>
                <a rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'Next'|trans }}&nbsp;&raquo;</a>
            </li>
        {% else %}
            <li class="disabled">
                <span>{{ 'Next'|trans }}&nbsp;&raquo;</span>
            </li>
        {% endif %}
    </ul>
    {% if next is defined %}
        <a class="text-center col-xs-offset-4 col-sm-4 col-xs-4 hidden-lg hidden-md btn-lg btn-default" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">{{ 'nexts_resultats'|trans }}&nbsp;&raquo;</a>
    {% else %}
        <span class="hidden-lg hidden-md ">{{ 'nexts_resultats'|trans }}&nbsp;&raquo;</span>
    {% endif %}
</nav>
{% endif %}
