<div class="user-info">
    <div class="image">
        <img src="{{ asset('images/avatars/user.png') }}" width="48" height="48" alt="User">
    </div>
    <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ app.getUser().getFullName() }}</div>
        {#<div class="email"><i class="material-icons">group</i>Adminisrateur</div>#}
        <div class="email">{{ app.getUser().getEmail() }}</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a href="{{ path('your_profile') }}" class=" waves-effect waves-block"><i class="material-icons">person</i>{{ 'app.user.profile'|trans }}</a></li>
                {#<li role="seperator" class="divider"></li>#}
                {#<li><a href="javascript:void(0);" class=" waves-effect waves-block"></li>#}
                {#<li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">shopping_cart</i>Sales</a></li>#}
                {#<li><a href="javascript:void(0);" class=" waves-effect waves-block"><i class="material-icons">favorite</i>Likes</a></li>#}
                <li role="seperator" class="divider"></li>
                <li><a href="{{ path('logout') }}" class=" waves-effect waves-block"><i class="material-icons">input</i>{{ 'app.user.logout'|trans }}</a></li>
            </ul>
        </div>
    </div>
</div>
