<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.country, {'label': 'member.member.edit.form.country'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.zipcode, {'label': 'member.member.edit.form.zipcode'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.city, {'label': 'member.member.edit.form.city'|trans}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.address, {'label': 'member.member.edit.form.address'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.phone, {'label': 'member.member.edit.form.phone'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.cellular, {'label': 'member.member.edit.form.cellular'|trans}) }}
    </div>
</div>
