<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.username, {'label': 'member.member.edit.form.username'|trans}) }}
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.email, {'label': 'member.member.edit.form.email'|trans}) }}     
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.group, {'label': 'member.member.edit.form.group'|trans}) }}
    </div>    
</div>
<div class="row">
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.password.first) }}    
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.password.second) }}              
    </div>
    <div class="col-lg-4 col-md-6">
        {{ form_row(form.active, {'label': 'member.member.edit.form.active'|trans}) }}
    </div>
</div>