{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">
        {{ form_row(form.bundle, {'label': 'dashboard.form.bundle'|trans, 'attr': {'class': 'text-right'}}) }}
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            {{ form_row(form.group, {'label': 'dashboard.form.group'|trans, 'attr': {'class': 'text-right'}}) }}
        </div>
    </div>
    <div class="col-md-4">
        {{ form_row(form.order, {'label': 'dashboard.form.order'|trans, 'attr': {'class': 'text-right'}}) }}
    </div>
</div>
{{ form_end(form) }}