<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'member.contribution.list.header.cost'|trans }}</th>
                        <th>{{ 'member.contribution.list.header.paymentDate'|trans }}</th>
                        <th>{{ 'member.contribution.list.header.subscription'|trans }}</th>
                        <th>{{ 'member.contribution.list.header.period'|trans }}</th>
                        <th>{{ 'member.contribution.list.header.paid'|trans }}</th>
                        <th>{{ 'app.common.table.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fee in fees %}
                    <tr>
                        <td>{{ fee.getId() }}</td>
                        <td>{{ fee.getCost()|number_format(2, ",", " ") }} €</td>
                        <td>{% if fee.getPaymentDate() is not null %} {{ fee.getPaymentDate()|date('d/m/Y') }} {% endif %}</td>
                        <td>{{ fee.getSubscription().getSubscription().getLabel() }}</td>
                        <td>{{ fee.getStartDate()|date('d/m/Y') }} {{ 'app.common.to'|trans }} {{ fee.getEndDate()|date('d/m/Y') }}</td>
                        <td>
                            {% include ':common:boolean.html.twig' with {'status': fee.getPaid()} %}
                        </td>
                        <td>
                            {% if fee.getPaid() != true %}
                                <a href="#" class="btn btn-warning material-icons">euro_symbol</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
