<div class="row">
    <div class="col-md-12">
        {% if is_granted('MEMBER_SUBSCRIPTION_CREATE') %}
        <a href="#" class="btn bg-green waves-effect" data-toggle="modal" data-target="#editSubscriptionHistoricalModal">{{ 'member.subscription.extend'|trans }}</a>
        {% endif %}
    </div>
</div>
{% for subscription in subscriptions %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header bg-blue-grey">
                    <h2>
                        {{ subscription.subscription.label }} <small></small>
                    </h2>
                </div>
                <div class="body">
                    <p><label>{{ 'subscription.subscription.edit.duration'|trans }} :</label> {{ subscription.subscription.duration }}</p>
                    <p><label>{{ 'member.subscription.endDate'|trans }} :</label> {{ subscription.endDate|date('d/m/Y') }}</p>
                    <p><label>{{ 'subscription.subscription.edit.cost'|trans }} :</label> {{ subscription.cost|number_format(2, ",") }} €</p>
                </div>
                <div class="panel-group" id="member_subscription_accordion_{{ loop.index }}" role="tablist" aria-multiselectable="false">
                    <div class="panel panel-col-blue-grey">
                        <div class="panel-heading" role="tab" id="member_subscription_accordion__header_{{ loop.index }}">
                            <h4 class="panel-title">
                                <a role="button" data-subscription-historical-id="{{ subscription.getId() }}" data-alreadyloading="0" data-toggle="collapse" data-parent="member_subscription_accordion_{{ loop.index }}" href="#member_subscription_accordion__col_{{ loop.index }}" aria-expanded="true" aria-controls="collapseOne_1" class="">
                                    {{ 'member.subscription.viewFees'|trans }}
                                </a>
                            </h4>
                        </div>
                        <div id="member_subscription_accordion__col_{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="member_subscription_accordion__header_{{ loop.index }}" aria-expanded="true" style="">
                            <div class="panel-body text-center" data-anchor="subscriptionFee">
                                <div class="preloader">
                                    <div class="spinner-layer pl-red">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% include ':member/member/subscriptionHistorical:createModal.html.twig' with {'form' : form} %}