{% extends 'layoutLogin.html.twig' %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset("bundles/app/common/js/app.deleteConfirm.js") }}"></script>
    <script src="{{ asset("bundles/app/common/js/jquery.reload.list.js") }}"></script>
    <script src="{{ asset("bundles/app/subscription/subscription/js/manage.js") }}"></script>
    <script src="{{ asset("bundles/app/subscription/periodicity/js/manage.js") }}"></script>

    <script type="text/javascript">
        var reloadlist = $('#periodicitiesContainer').reloadlist();
    </script>
{% endblock %}

{% block content %}
<div class="row block-header">
    {% include 'main/breadcrumb.html.twig' with {'breadcrumbs': [
    {
    'href': path('dashboard'),
    'title': 'app.dashboard.callback'|trans,
    'label': 'app.dashboard.title'|trans
    },
    {
    'label': 'subscription.subscription.list.title'|trans
    }
    ] } %}
    <h2 class="col-xs-12">
        {{ 'subscription.subscription.list.title'|trans }}
        <span class="pull-right"><b>{{ 'subscription.subscription.list.totalActiveMember'|trans }} :</b> {{ totalMember }}</span>
    </h2>
</div>
{% include ':main/flashMessage:flashMessageBlock.html.twig' %}
<div class="row">
    <div class="col-xs-12">
        <div class="card">
            <div class="body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active"><a href="#subscriptions" data-toggle="tab">{{ 'subscription.manager.tabSubscriptions'|trans }}</a></li>
                    <li role="presentation"><a href="#periodicities" data-toggle="tab">{{ 'subscription.manager.tabPeriodicities'|trans }}</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="subscriptions">
                        <div id="subscriptionsContainer" data-anchor="subscriptions" data-page-parameter-name="{{ constant('SubscriptionBundle\\Controller\\SubscriptionController::PAGE_PARAMETER_NAME') }}">
                         {{ render(controller('SubscriptionBundle:Subscription:list', {'request': app.request, 'anchor': 'subscriptions'})) }}
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="periodicities">
                        <div id="periodicitiesContainer" data-anchor="periodicities" data-page-parameter-name="{{ constant('SubscriptionBundle\\Controller\\PeriodicityController::PAGE_PARAMETER_NAME') }}">
                            {{ render(controller('SubscriptionBundle:Periodicity:list', {'request': app.request, 'anchor': 'periodicities'})) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}