{% extends 'layoutNotLogin.html.twig' %}
{% block title %}{{ parent() }} - {{ 'app.security.forgotPassword.title'|trans }}{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">{{ 'app.default.appName'|trans }}</a>
            <small>{{ 'app.default.appSlogan'|trans }}</small>
        </div>
        <div class="card">
            <div class="body">
                {{ form_start(form) }}
                <div class="msg">{{ 'app.security.changePassword.text'|trans }}</div>
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">vpn_key</i>
                            </span>
                    <div class="form-line {{ (form_errors(form.password.first)?'error':'') }}">
                        {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'app.security.changePassword.inputPassword'|trans, 'required':'', 'autofocus': '', 'aria-required': 'true'}}) }}
                    </div>
                </div>
                <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">check_circle</i>
                            </span>
                    <div class="form-line {{ (form_errors(form.password.second)?'error':'') }}">
                        {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'app.security.changePassword.inputPasswordCheck'|trans, 'required':'', 'autofocus': '', 'aria-required': 'true'}}) }}
                    </div>
                </div>
                <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">{{ 'app.security.forgotPassword.submitBtn'|trans }}</button>
                {#{{ form_row(form.password) }}#}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}