{% extends 'layoutNotLogin.html.twig' %}
{% block title %}{{ parent() }} - {{ 'app.security.forgotPasswordSuccess.title'|trans }}{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">{{ 'app.default.appName'|trans }}</a>
            <small>{{ 'app.default.appSlogan'|trans }}</small>
        </div>
        <div class="card">
            <div class="body">
                <div class="msg">{{ 'app.security.changePassword.successText'|trans }}</div>
                <div class="row m-t-20 m-b--5 align-center">
                    <a href="{{ path('login') }}">{{ 'app.security.forgotPassword.loginLink'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}