{% extends 'layoutNotLogin.html.twig' %}
{% block title %}{{ parent() }} - {{ 'app.security.forgotPassword.title'|trans }}{% endblock %}
{% block content %}
    <div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">{{ 'app.default.appName'|trans }}</a>
            <small>{{ 'app.default.appSlogan'|trans }}</small>
        </div>
        <div class="card">
            <div class="body">
                {{ form_start(form, {'action': path('forgot_password')}) }}
                    {% include ':main/flashMessage:flashMessageBlock.html.twig' %}
                    <div class="msg">{{ 'app.security.forgotPassword.text'|trans }}</div>
                    <div class="input-group">
                            <span class="input-group-addon">
                                <i class="material-icons">email</i>
                            </span>
                        <div class="form-line {{ (form_errors(form.email)?'error':'') }}">
                            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'app.security.forgotPassword.inputEmail'|trans, 'required':'', 'autofocus': '', 'aria-required': 'true'}}) }}
                            {#<input type="email" class="form-control" id="email" name="email" placeholder="{{ 'app.security.forgotPassword.inputEmail'|trans }}" required="" autofocus="" aria-required="true">#}
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">{{ 'app.security.forgotPassword.submitBtn'|trans }}</button>

                    <div class="row m-t-20 m-b--5 align-center">
                        <a href="{{ path('login') }}">{{ 'app.security.forgotPassword.loginLink'|trans }}</a>
                    </div>
                {{ form_end(form) }}
                {#</form>#}
            </div>
        </div>
    </div>
{% endblock  %}