<div class="row">
    <div class="col-xs-12">
        <a href="#" id="addStatus" class="btn bg-green waves-effect">{{ 'app.member.status.add.title'|trans }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="body table-responsive">
            <form action="#">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'app.member.status.list.table.label'|trans }}</th>
                        <th>{{ 'app.member.status.list.table.memberNumber'|trans }}</th>
                        <th>{{ 'app.common.table.action'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in results %}
                        <tr>
                            <td scope="row">{{ status.getId() }}</td>
                            <td>{{ status.getLabel() }}</td>
                            <td>NF</td>
                            <td>
                                <a href="#" data-id="{{ status.getId() }}" data-label="{{ status.getLabel() }}" class="btn btn-warning material-icons editStatus">edit</a>
                                <a href="#" data-id="{{ status.getId() }}" data-label="{{ status.getLabel() }}" class="btn btn-danger material-icons delStatus">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
            <div class="pull-right">
                {{ knp_pagination_render(results) }}
            </div>
        </div>
    </div>
</div>
